$full: 100%;
$full-vh: 100vh;
$measurements: 1rem;
$colorText: white;
$colorPrimary: #A589F7;
$colorBlack: black;
$text-align: center;
$margin-auto: 0 auto;
$fontPrimary: 'Raleway', 'sans-serif';
$flexCol: column;
$dipFlex: flex;
$relative: relative;
$bgTransparent: transparent;
$content-center: center;
$between: space-between;
$col: column;
